@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000000;
  overflow: hidden;
}

.scrollbar-hide {
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
